
<div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto">
          <div class="content-details">
              <h1>{{details?.title}}</h1>
              <p> {{details?.abstract}}</p>
              <img src="{{details.multimedia[4].url}}" height="200px" width="100%" class="img-fluid">
             
              <div class="comment-section">
                  <div class="comment-section-img d-flex">
                      <img src="https://static01.nyt.com/images/2018/10/03/multimedia/author-david-e-sanger/author-david-e-sanger-thumbLarge.png" alt="" class="img-fluid">
                      <a href="">{{details?.byline}}</a>
                  </div>
                  <div class="date">
                      <span>{{details?.created_date | date: 'yyyy/MM/dd h:mm:ss a'}}  </span>
                  </div>
             
              </div>
          </div>
      </div>
    </div>
  </div>