.content-details h1 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    padding-top: 25px;
   
}
.content-details p{
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.comment-section-img img {
    width: 85px;
    border-radius: 50%;
}
.comment-section-img a {
    margin-top: 30px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
}
.comment-section p{
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.date span{
    display: inline-block;
    font-size: 1.1rem;
    padding-top:10px;
    
}