<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">New york times</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="arts">Arts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="us">US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="science">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="world">World</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>