<div class="container mt-5">
    <div class="row">
        <div *ngFor="let d of homepageDisplay" class="col-lg-3">
            <div *ngIf="!isShowDetailsView">
                    <!-- <button (click)="onClick(d)"> {{d.title}}</button> -->
                    <div class="box">
                        <img src="{{d.multimedia[4].url}}" height="200px" width="100%" >
                        <h5 class="mt-2">{{d.title}}</h5>
                        <p>{{d.abstract}}</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" (click)="onClick(d)"> Read more</button>
                        </div>
                    </div>
            </div>
    </div>
    </div>
</div>


<app-news-details *ngIf="isShowDetailsView" [details]="newsDetails"></app-news-details>
